//provider variables
valtix_account_name   = "" //get this from Valtix
valtix_controller_url = "" //get this from Valtix
valtix_key_file       = "./keys/valtix_api.key"

//iam and cloud account variables
cloud_account_name = "valtix-aws-account"
region             = "us-east-1"

//policy ruleset variables
ingress_policy_ruleset_name = "ingress-policy-ruleset"
egress_policy_ruleset_name  = "egress-policy-ruleset"
ew_policy_ruleset_name      = "ew-policy-ruleset"

