//provider variables
valtix_account_name       = "" //get this from Valtix
valtix_controller_url     = "" //get this from Valtix
valtix_key_file           = "./keys/valtix_api.key"

//iam and cloud account variables
region                    = ""
cloud_account_name        = ""

//service vpc variables
services_vpc_ingress_name = "valtix_ingress"
services_vpc_ew_name      = "valtix_eastwest"
services_vpc_egress_name  = "valtix_egress"
ingress_cidr              = "10.100.0.0/24"
egress_cidr               = "10.100.1.0/24"
ew_cidr                   = "10.100.2.0/24"
availability_zones        = ["us-east-1a", "us-east-1b"]
tgw_id                    = ""

//Valtix gateway variables
valtix_ingress_gw_name            = "aws-valtix-us-east-1-ingress"
valtix_egress_gw_name             = "aws-valtix-us-east-1-egress"
valtix_ew_gw_name                 = "aws-valtix-us-east-1-ew"
gw_keypair_name                   = "valtix-keypair"
gw_image_name                     = "2.7-16" //recommend select the latest from Valtix UI
valtix_firewall_role_name         = "valtix-firewall-role"
valtix_ingress_policy_ruleset_id  = ""
valtix_egress_policy_ruleset_id   = ""
valtix_ew_policy_ruleset_id       = ""
